.body {
    display: flex;

}
.grid {
    display: grid;
   /* grid-template-columns: repeat(20,1fr);*/
    height:500px;
    width: 500px;
    border: 10px solid grey;
}
.glow {
    background-color: white;
}
.glow:hover {
    background-color: black!important;
}
.black {
    background-color: black;
}
h1 {
    text-align: center;
}
.options {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 200px;
    margin-left: 5%;
    padding-left: 2%;
    padding-right: 2%;
    justify-content: center;
    align-items: center;
    border: solid 3px grey;
    border-radius: 10px;
}
outlines {
    outline: 1px solid red;
}
.gridContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}