.body {
    display: grid;
    grid-template-columns: 1fr 4fr;
}
.grid {
    display: grid;
    grid-template-rows: repeat(50, 1fr);
    grid-template-columns: repeat(50, 1fr);
    margin-top: 5%;
    margin-left: 20%;
    height: 25%;
    width: 25%;
}
.glow {
    background-color: aqua;
    outline: 1px solid red;
    min-width: 10px;
    min-height: 10px;
    max-height: current;
}
.glow:hover {
    background-color: black;
}
.black {
    background-color: black;
}
h1 {
    text-align: center;
}