.body {
    display: flex;
    grid-template-columns: 1fr 5fr;
}
.grid {
    display: grid;
    grid-template-columns: repeat(20,1fr);
    grid-template-rows: repeat(20,1fr);
    height:500px;
    width: 500px;
}
.glow {
    background-color: aqua;
    outline: 1px solid red;
    
    
}
.glow:hover {
    background-color: black;
}
.black {
    background-color: black;
}
h1 {
    text-align: center;
}
.options {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 150px;
    justify-content: center;
    align-items: center;

    /*display: grid;
    grid-template-columns: auto;*/
}
input {
    float : left;
}
* {
    outline: 1px solid red;
}
.gridContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}